{% extends "CoreBundle::layout.html.twig" %}

{% block body %}
    <div class="container">
        <h1>{{ action }} a post</h1>

        <div class="col-sm-offset-1 col-sm-10">
            <div class="well">
                {% if action == "Edit" %}
                    {{ form_start(form, {'attr': {'action': '{{ path("blog_post_edit", { id: id }) }}', 'class': 'form-horizontal'}}) }}
                {% else %}
                    {{ form_start(form, {'attr': {'action': '{{ path("blog_post_add") }}', 'class': 'form-horizontal'}}) }}
                {% endif %}

                {{ form_errors(form) }}
                <fieldset>
                    <div class="form-group">
                        {{ form_widget(form.title, {'attr': {'placeholder' : 'Title', 'class': 'form-control floating-label'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    {{ form_rest(form) }}
                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </fieldset>
                {{ form_end(form) }}
            </div>
        </div>

        <table id="PostsTable" class="table table-striped table-hover text-center">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Title</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td>{{ post.title }}</td>
                    <td>
                        <a href="{{ path('blog_post_edit', { id: post.id }) }}">
                            <button type="button" class="btn btn-flat btn-info btn-sm btn-td">edit</button>
                        </a>
                        <a href="{{ path('blog_post_delete', { id: post.id }) }}">
                            <button type="button" class="btn btn-flat btn-warning btn-sm btn-td">delete</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}

    </div>
{% endblock %}